<article class="type-system-rounded">
  <p class="type"><%= @user.class %></p>
  <header>
    <h1>Your Account</h1>
    <p>Name: <%= @user.full_name %></p>
    <p>Email: <%= @user.email %></p>

</article>
