<div class="search-bar">
  <div class="right-aligned-search search-and-submit">
    <%= form_tag(search_for_artist_path, method: "get") do %>
      <ol>
        <li>
          <%= label_tag :search_query, "Add a New Artist" %>
          <%= search_field_tag :search_query, "Search", placeholder: "Enter Search" %>
        </li>
        <li>
          <%= submit_tag("Add Artist") %>
        </li>
      </ol>
    <% end %>
  </div>
</div>
