<% if @favorite_artists.any? %>
  <section class="artist-list">
  <h2>My favorite artists:</h2>
    <% @favorite_artists.each do |artist| %>
        <h3><%= link_to artist.full_name, artist %></h3>
    <% end %>
  </section>
<% end %>
